/*
* {
    border: solid red 1px;
}
*/

body {
    background-color: lightblue;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.item {
    flex: 1 0 auto;
}

form {
    display: flex;
    width: 200px;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

